body {
    background-color: #ffffff;
}

th {
  background-color: #4CAF50;
  color: white;
}
caption, th, td {
  caption-side: bottom;
}

table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
}

.c1 {background-color: #f0fff0}
.c2 {background-color: #87ceeb}
.c3 {background-color: #1e90ff}
.c4 {background-color: #4169e1}
.c5 {background-color: #0000ff}